.createCourse{
    text-align: center;
}


.formCreateCourse .row {
  margin: 0 auto;
  padding: 60px 30px;
  position: relative;
  z-index: 1;
  text-align: center;
  width: 750px;
  display: flex;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.044) 0px 30px 90px;
}


.formCreateCourse .row:first-child {
  padding: 40px 30px;
  font-weight: 700;
  background: #ffffff;
}

.formCreateCourse .row span {
  margin: 30px 10px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

input[type="text"]:-ms-input-placeholder {
  color: #377D6A;
  font-weight: 300;
}


.inputtext {
  display: flex;
  width: 400px;
  padding: 10px 0 10px 15px;
  font-family: "Open Sans", sans;
  font-weight: 400;
  color: #377D6A;
  background: #ffffff;
  border: 0;
  border-radius: 3px;
  outline: 0;
  transition: all .3s ease-in-out;
  border-radius: 15px;
  border: #0c9999 2px solid;
  margin-right: -70px;
}
.inputtext label {
  display: inline-block;
  position: absolute;
  bottom: 100%;
  left: 0;
  margin-bottom: 5px;
  padding: 3px 13px;
  text-shadow: 0 1px 0 rgba(19, 74, 70, 0.4);
  transition: all .3s ease-in-out;
  border-radius: 3px;
  background: #0c9999;
}

.inputtext:focus,
.inputtext:active {
  color: #377D6A;
  background: rgb(252, 251, 251);
}
.inputtext:focus + label,
.inputtext:active + label {
  background: #2e9797;
  color: #fff;
}

.courseInput{
  display: flex ;
  justify-content: center;
  align-items: center;
}
.field{
  position: absolute;
  margin-right: 470px;
  width: 120px;
  background-color:#e3f8f8 ;
  border-radius: 15px;
  padding: 5px 10px;
  text-align: center;
  color: #1a6f6f;
  font-size: 14px;
  border: #0c9999 2px solid;
}

.custom-file-input {
  color: transparent;
  padding: 40px;
  margin-left: -20px ;
}
.custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
}

.custom-file-input::before {
  content: 'Upload Image';
  color: var(--aicolorDark);
  display: inline-block;
  background: -webkit-linear-gradient(top, #ffffff, #e3f8f8);
  border-radius: 15px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  text-shadow: 1px 1px #fff;
  font-weight: 700;
  padding: 10px;

}
/* .custom-file-input:hover::before {
  border-color: black;
}
.custom-file-input:active {
  outline: 0;
} */

.iconUpload{
  margin-left: 100px ;
}
.buttonCreateCourse{
  display: flex;
  justify-content: flex-end;
  text-align: center;
}
