
.border-course {
    padding: 15px;
    border: 1px solid #f3f3f3;
    border-radius: 5px;
  }

.courseCard{
    box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;

}

.rating{
  font-size: 25px;
}